<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1paUc3IPH5Iftnuq4a4c5W_Ws6TH2qKfR2nScjdhx6tIj1JNYKg" width="1400px" height="350px" />
<div class="container text-center">
   <h2>About Page</h2>
   <h3>Mission Statement</h3>
   <p>At Bootcampus, our mission is to run bootcamp-style short to medium length training programs to prepare and sensitise fellow young Africans including students, to meet the challenges of working and excelling in the ever evolving world of information technology and allied sectors.

   This we aim to do by way of periodically deploying dedicated and motivated volunteer trainers from all over the world with the requisite ability and practical knowledge to carry out such targeted training programs in selected countries within the African continent.

   In its current form, our programs will be provided free of charge to participants. And it is hoped that collaborating local institutions and organisations are able to demonstrate interest, as well as provide assistance and necessary resources at no cost.
   </p>
</div>
