<img src="https://miamiherald.typepad.com/.a/6a00d83451b26169e201a5118cd1e9970c-pi" width="1400px" height="450px" />
<div class="container text-center">
   <h2>About Us</h2>
   <h3>Our Mission</h3>
</div>
  <div class="col-md-8 col-md-offset-2">
   <p>At Bootcampus, our mission is to run bootcamp-style short to medium length training programs to prepare and sensitise fellow young Africans including students, to meet the challenges of working and excelling in the ever evolving world of information technology and allied sectors.

   This we aim to do by way of periodically deploying dedicated and motivated volunteer trainers from all over the world with the requisite ability and practical knowledge to carry out such targeted training programs in selected countries within the African continent.

   In its current form, our programs will be provided free of charge to participants. And it is hoped that collaborating local institutions and organisations are able to demonstrate interest, as well as provide assistance and necessary resources at no cost.
   <%= link_to "Find out how to join us", new_volunteer_path %>
   </p>
  </div>


<div class="container text-center">
  <h3>Objective</h3>
</div>
<div class="col-md-8 col-md-offset-2">
<p>To seek support of and collaboration with the institution in developing, coordinating and delivering a series of training workshops by volunteer programmers from Europe and South America to train young Cape Verdien students, inclusive of university as well as gifted and capable end of year high school students.

The program is meant to engage and provide young African students including and most especially girls with practical skills in IT.

This we hope may provide significant motivation for them to see the world of IT as not alien but reachable and one in which they can participate, as well as do well. And knowledge gained during the program will help instil participants with enough belief and awareness needed to encourage the target group to see the web applications development segment of the IT sector is an area or field in which a hard working, intelligent and ambitious Cape Verdien student can succeed.
</p>
</div>
