<div class="home-callout text-center container-fluid">
   <h1>Welcome to BootCampus home page</h1>
   <h3>A Web Applications Volunteer Training Matchmaking site for linking Volunteers with Institutions</h3>

   <%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id) if user_signed_in? %>
</div>



<img class="irc_mi" src="https://pbs.twimg.com/media/Doxle4GXkAE066D.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" alt="Image result for coding training images in Africa" width="1400" height="560">
<div class="container text-center">
 <h2 class="section-head">Who We Are</h2>
</div>
<div class="col-md-4 col-sm-12">
 <h3>Passionate Trainers</h3>
 <p>
   We are passionate individual from all sorts of professional backgrounds: coders, designers, testers, project managers, writers and many more. We are a diverse mix of cultures, ages and experiences. The thread that unites us is an interest and passion for impacting Knowledge.
 </p>
</div>
<div class="col-md-4 col-sm-12">
 <h3>Matchmakers</h3>
 <p>
   We are passionate individual from all sorts of professional backgrounds: coders, designers, testers, project managers, writers and many more. We are a diverse mix of cultures, ages and experiences. The thread that unites us is an interest and passion for impacting Knowledge.
 </p>
</div>
<div class="col-md-4 col-sm-12">
 <h3>Developers</h3>
 <p>
   We are passionate individual from all sorts of professional backgrounds: coders, designers, testers, project managers, writers and many more. We are a diverse mix of cultures, ages and experiences. The thread that unites us is an interest and passion for impacting Knowledge.
 </p>
</div>

<div class="container">
 <div class="col-md-4 col-md-offset-4">
   <h2 class="sectioning-head">Volunteer</h2>
   <p>Are you interested in volunteering with us? We are always looking for passionate volunteers with all types of skills. Whether you enjoy coding, testing, technical operations, managing teams, getting creative or whatever your forte, we welcome your time and effort to help make our projects happen. In return, we provide you with a supportive environment to practice your skills and pick up new ones with ongoing workshops and tech events. Meet some of our volunteers to find out what you could be both contributing and learning by joining Bootcampus.</p>
 </div>
</div>
