<h1 class="text-center"><%= link_to "Volunteer with us", new_volunteer_path %></h1>
<img src="https://www.lifeofpix.com/wp-content/uploads/2018/05/308-name7185-jj-1600x1136.jpg" width="1400px" height="500px" />
